p{
	text-align: center;
    color: #FFFFFF;
}
form{
	text-align: center;
}
div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.multicolortext {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }
div.card-header{
	text-align: center;
}
body {
  background-color: #0C223E;
}
@font-face {
  font-family: teamLiquid;
  src: url(teamliquid.otf);
}

.teamliquidblue{
	font-family: teamLiquid;
	color: #031422;
}
.teamliquidwhite{
	font-family: teamLiquid;
	color: #FFFFFF;	
}
.teamliquidgold{
	font-family: teamLiquid;
	color: #AD9742;	
}
h1 span{
     vertical-align:middle;
	font-size:70px; 
	margin:auto;	
    display:inline-block;
}
h1{
  text-align: center;
    color: #FFFFFF;
}
td{
  text-align: center;
    color: #FFFFFF;
}
th{
  text-align: center;
	color: #AD9742;	
}